@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Prompt", sans-serif;
}
:root{
    --text-color:black;
    --main-color:  rgb(255, 0, 234);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: aliceblue;
}

.logo{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.logo span{
    color: var(--main-color);
}

.navbar a{
    font-size: 1rem;
    padding: 10px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar .Login{
    font-size: 15px;
    color: red;
}
.navbar{
    position: relative;
    display: flex;
}